<!DOCTYPE html>
{% load staticfiles %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Style & Design</title>
    <link rel="stylesheet" href="{% static 'cuerpo/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'cuerpo/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com\icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body background="{% static 'cuerpo/img/opaco.png' %}">
<nav>
    <div class="nav-wrapper #f48fb1 pink lighten-3">
        <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'cuerpo/img/Logo.jpg' %}" class="logo"> </a>
        <a href="{% url 'index' %}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Incio</a></li>
            <li><a href="{% url 'menuproductos' %}">Productos</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'citas' %}">Citas</a></li>
            <li><a href="{% url 'tips' %}">Tips de Belleza</a></li>
            <li><a href="{% url 'opiniones' %}">Opiniones</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'login' %}">Sesión</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav #fce4ec pink lighten-5" id="mobile-demo">
    <li><a href="{% url 'index' %}">Incio</a></li>
    <li><a href="{% url 'menuproductos' %}">Productos</a></li>
    <li><a href="{% url 'servicios' %}">Servicios</a></li>
    <li><a href="{% url 'citas' %}">Citas</a></li>
    <li><a href="{% url 'tips' %}">Tips de Belleza</a></li>
    <li><a href="{% url 'opiniones' %}">Opiniones</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>
    <li><a href="{% url 'login' %}">Sesión</a></li>
</ul>
{% for message in messages %}
    <center>
        <h1>{{ message }}</h1>
    </center>
{% endfor %}

{% block content %}



{% endblock %}

<footer class="page-footer #f48fb1 pink lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <center>
                    <h5 class="white-text">Style & Design </h5>
                    <p class="grey-text text-lighten-4">"La empresa comprometida con tu belleza"</p>
                </center>
                <center>
                    <p>Machicao Cardoso Raúl Fernando Prebe 9</p>
                    <p>Rivera Negrete Manuel Armando Prebe 4</p>
                    <p>Carballido Garcìa Alicia Prebe 18</p>
                </center>
            </div>
            <div class="col l4 offset-l2 s12">
                <center>
                    <h5 class="white-text">Siguenos</h5>
                    <ul>
                        <a href="https://www.facebook.com/Style-Design-36-942562145949271" class="btn-floating btn-large waves-effect waves-light #f48fb1 pink lighten-3"><i
                                class="material-icons"><img src="{% static 'cuerpo/img/Face.png' %}"
                                                            class="fac"></i></a>
                        <a href="https://twitter.com/StyleNDesign36" class="btn-floating btn-large waves-effect waves-light #f48fb1 pink lighten-3"><i
                                class="material-icons"><img src="{% static 'cuerpo/img/twiter.png' %}" class="fac"></i></a>
                        <br>
                        <a href="{% url 'unete' %}" class="unfoot">Unete a nuestro equipo de Trabajo</a>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col m9">
                    <span style="color:white;">💝</span> © 2018 Copyright
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
                <div class="col m3">
                    <span></span> © Proteco Generación 36
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'cuerpo/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'cuerpo/js/add.js' %}"></script>
</html>