
{% extends 'cuerpo/base.html' %}

{% block content %}

{% load staticfiles %}

    <main>
		<br><br>
		<div class="row">
			<div class="col s12 s12 offset-s4">
				<h3 class="tipro">Llamanos</h3>
				<div class="row inline s12">
					<ul>
						<li id="telefono"><i class="material-icons prefix" id="iconoclasta">phone</i> 55-23-64-13-45
						</li>
					</ul>
				</div>
                <h3 class="tipro">Envianos un email</h3>
				<div class="row inline s12">
					<ul>
						<li id="mail"><i class="material-icons prefix" id="iconoclasta">email</i> style.design.g.36@gmail.com
						</li>
					</ul>
				</div>
				<h3 class="tipro">Nuestras Oficinas</h3>
				<div class="row inline s12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.9522021890953!2d-99.18424995021772!3d19.32788028687975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce000454d028e9%3A0x4a85a53ac30dc37b!2sPROTECO!5e0!3m2!1sen!2smx!4v1524708205216" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</main>

{% endblock %}