{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <center><h2 class="tipro">Cortes de Cabello</h2>
                        <p class="tipro2">Innovación 2018</p>
                    </center>
                </div>
            </div>
            <h5>
                <p>Cuando estrenamos año, además de apuntarnos al gimnasio, cambiar de look suele ser otro de los
                    propósitos que nos marcamos. El 2018 arranca con un concepto casi shakesperiano ¿arriesgar o no
                    arriesgar? Enuméralos, fíchalos y piensa si probarlos o no, pero ya están aquí los cortes de pelo
                    que te cansarás de ver y que, poco a poco verás cómo se apoderan de todas las fotografías que te
                    impactan en Instagram y cómo todas tus amigas acaban probando alguno de ellos.</p><br>
            </h5>
            <p class="tipro2">Para ella</p>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcito">Bob</h1>
                        <p class="colorcito2">Olivia Culpo es una de las celebrities que en el 2017 se lanzó de lleno al
                            mundo de los cambios de look. Su Bob nos encanta.
                        </p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/c2.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/c1.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcito">A la altura de las orejas</h1>
                        <p class="colorcito2">Otro buen lugar del que tomar inspiración son las pasarelas. Casi
                            compartiendo longitud con el Bob encontramos este tipo de cortes a la altura de las orejas.
                            Cómodos, elegantes y con algo de volumen como este ejemplo que vimos en el desfile de Akris.
                        </p></center>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcito">Lob</h1>
                        <p class="colorcito2">Otra fiel seguidora de las tendencias es Olivia Palermo. La It girl
                            simepre se mueve entre el Bob y el Lob.</p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/c4.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/c3.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcito">Media melena</h1>
                        <p class="colorcito2">La Duquesa de Cambridge dejó su clásica melena para probar con este corte
                            algo más juvenil que llena de volumen su cabello.
                        </p></center>
                </div>
            </div>
            <p class="tipro3">Para él</p>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcitoh">French Crop</h1>
                        <p class="colorcito2">Este corte de pelo gozó de una inmensa popularidad en los años 90s, ya que
                            es un corte fácil de mantener y el cuál se ve bien en casi todo tipo de rostros masculinos.
                            Este corte se realiza cortando el cabello de la nuca y los laterales con máquina, mientras
                            el flequillo que va corto se debe cortar con tijeras. El tipo de flequillo corto disimula
                            muy bien las entradas, y al ser cortado de forma despuntada, hace lucir el pelo bastante
                            natural.
                        </p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/ch1.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/ch2.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcitoh">Texturizado</h1>
                        <p class="colorcito2">A pesar de que este corte tuvo origen en el french crop, se puso muy de
                            moda en los años 90s gracias a las bandas del Reino Unido. Caracterizado por un flequillo
                            mucho más largo que el resto del cabello, pero nunca pasando el largo medio, este estilo es
                            fácil de mantener e ideal para la mayoría de los hombres, ya que se ve bien en cabellos
                            lisos ó ligeramente ondulados. Este look lo pueden llevar hombres adultos jóvenes así como
                            adolescentes. Últimamente se ha puesto nuevamente de moda, gracias a que da un look ondero,
                            relajado y atractivo.
                        </p></center>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcitoh">Pelo Spiky</h1>
                        <p class="colorcito2">Popular entre los jugadores de fútbol, ya Beckham lucía este estilo hace
                            más de 10 años, popularizándolo entre fans masculinos del fútbol. Es un estilo que proyecta
                            limpieza, y tiene variaciones, desde el spiky corto, medio a largo. La manera de cortar este
                            cabello es dejando la parte superior de la cabeza ligeramente más larga, y dejarlo muy
                            despuntado, para así luego peinar cada mechón hacia arriba en diferente dirección. Este
                            cabello por el estilo en que se debe peinar, ya sea corto o más largo, necesita ser
                            estilizado con cera o gel para que no caiga el peinado. Se aconseja secar el pelo con el
                            secador hacia arriba para facilitar el peinado con este corte de cabello.</p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/ch3.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/ch4.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcitoh">Cabello Quiff</h1>
                        <p class="colorcito2">El Quiff es un corte de cabello que no tiene edad y que te dará un aire
                            artístico sin dudarlo. Famosísimo por ubicarse entre estiloso y ordenado, juega con
                            elementos del flattop, pompadour cincuentero e incluso un poco del mohicano. El centro de
                            este peinado es el tupé, que no distingue tipo de cara ni edad en hombres y que por lógica,
                            siempre irá más largo que el cabello del resto de la cabeza.
                        </p></center>
                </div>
            </div>
        </div>
        <center><a class="waves-effect #e91e63 pink btn" href="{% url 'servicios' %}">Volver</a></center>
        <br>
        <br>
        <br>
        </div>
    </main>

{% endblock %}