{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <ul class="pagination">
            <center>
                <br>
                <li class="disabled"><a href="{% url 'menuproductos' %}"><i class="material-icons">chevron_left</i></a>
                </li>
                <li class="waves-effect"><a href="{% url 'menuproductos' %}">Productos de Style & Design</a></li>
                <li class="active"><a href="{% url 'maquillaje' %}">Maquillaje</a></li>
                <li class="waves-effect"><a href="{% url 'barnices' %}">Barnices</a></li>
                <li class="waves-effect"><a href="{% url 'cuidado' %}">Cuidado Personal</a></li>
                <li class="waves-effect"><a href="{% url 'cabello' %}">Cuidado del Cabello</a></li>
                <li class="waves-effect"><a href="{% url 'perfumes' %}">Perfumes</a></li>
                <li class="waves-effect"><a href="{% url 'lociones' %}">Lociones</a></li>
                <li class="disabled"><a href="{% url 'barnices' %}"><i class="material-icons">chevron_right</i></a></li>
            </center>
        </ul>

        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div id="introduction" class="section scrollspy">
                        <center><h5 class="especial2">Maquillaje</h5>
                            <p class="flow-text">Maquillaje de larga duración para una apariencia impecable por más de
                                12
                                horas.</p>
                            <br>
                            <p class="flow-text">Beneficios:</p>
                            <ul class="flow-text">
                                <li><a>-Proporciona un aspecto fresco y uniforme todo el día.</a></li>
                                <li><a>-Acabado natural, semi-mate.</a></li>
                                <li><a>-No cambia el color, aun en climas extremos.</a></li>
                                <li><a>-Contiene protector solar.</a></li>
                                <li><a>-Cubre arrugas, líneas de expresión e imperfecciones.</a></li>
                            </ul>
                        </center>
                        <div class="divider"></div>
                        <div class="section">
                            <p class="especial2">Ojos y pestañas</p>
                            <p>Mascara de Pestañas Profesional a prueba de agua y de larga duración.</p>
                            <!--<div class="row">-->
                            {% for producto in productos %}
                                {% if producto.categoria == 'OjosPestañas' %}
                                    {% if producto.idenfificador|divisibleby:"4" %}
                                        <div class="row">
                                    {% endif %}
                                <div class="col s12 m3 l3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{{ producto.imagen }}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">{{ producto.nombre }}<br><i
                                                    class="material-icons right">more_vert</i></span><br>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{ producto.nota }}</span>
                                            <br>
                                            <br>
                                            <p>{{ producto.descripcion }}</p>
                                            <br>
                                            <div class="divider"></div>
                                            <br>
                                            <p> {{ producto.peso }} g </p>
                                            <p> ${{ producto.precio }}</p>
                                            <p> Existencias en tienda {{ producto.existencias }}</p>
                                            <i class="material-icons right">close</i>
                                        </div>
                                    </div>
                                </div>
                                {% if producto.idenfificador|divisibleby:"4" %}
                                    </div>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="section">
                    <p class="especial2">Bases</p>
                    <p>Base de maquillaje BISSÚ que unifica el tono de la piel dejando un aspecto semimate, elimina
                        el brillo y controla la piel grasa, contiene protector solar para la salud y belleza de tu
                        piel.</p>
                    {% for producto in productos %}
                        {% if producto.categoria == 'Bases' %}
                            {% if producto.idenfificador|divisibleby:"4" %}
                                <div class="row">
                            {% endif %}
                            <div class="row">
                                <div class="col s12 m3 l3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{{ producto.imagen }}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">{{ producto.nombre }}<br><i
                                                    class="material-icons right">more_vert</i></span><br>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{ producto.nota }}</span>
                                            <br>
                                            <br>
                                            <p> {{ producto.descripcion }} </p>
                                            <br>
                                            <div class="divider"></div>
                                            <br>
                                            <p> {{ producto.peso }} g </p>
                                            <p> ${{ producto.precio }}</p>
                                            <p> Existencias en tienda {{ producto.existencias }}</p>
                                            <i class="material-icons right">close</i>
                                        </div>
                                    </div>
                                </div>
                                {% if producto.id|divisibleby:"4" %}
                                    </div>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="section">
                    <p class="especial2">Sombras</p>
                    <p>
                        Hemos desarrollado con tecnología innovadora para Sombras Mary Kay Chromafusion®Matrix Fácil
                        de aplicar y difuminar Brindan larga duración de color ¡hasta por 12 horas!.
                        Descubre las ¡Nuevas! Sombras para Ojos Mary Kay Chromafusion® en 4 diferentes tonos
                        inspirados en las estaciones del año, y conoce sus grandes beneficios.
                    </p>
                    {% for producto in productos %}
                        {% if producto.categoria == 'Sombras' %}
                            {% if producto.idenfificador|divisibleby:"4" %}
                                <div class="row">
                            {% endif %}
                            <div class="row">
                                <div class="col s12 m3 l3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{{ producto.imagen }}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">{{ producto.nombre }}<br><i
                                                    class="material-icons right">more_vert</i></span><br>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{ producto.nota }}</span>
                                            <br>
                                            <br>
                                            <p>{{ producto.descripcion }}</p>
                                            <br>
                                            <div class="divider"></div>
                                            <br>
                                            <p> {{ producto.peso }} g </p>
                                            <p> ${{ producto.precio }}</p>
                                            <p> Existencias en tienda {{ producto.existencias }}</p>
                                            <i class="material-icons right">close</i>
                                        </div>
                                    </div>
                                </div>
                                {% if producto.id|divisibleby:"4" %}
                                    </div>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="section">
                <p class="especial2">Labiales</p>
                <p>Disfruta un aroma frutal cada día, dale brillo a tus labios con un toque de frescura y un
                    increíble aroma. </p>
                <div class="row">
                    {% for producto in productos %}
                        {% if producto.categoria == 'Labiales' %}
                            {% if producto.idenfificador|divisibleby:"4" %}
                                <div class="row">
                            {% endif %}
                        <div class="col col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ producto.imagen }}">
                                </div>
                                <div class="card-content">

                                            <span class="card-title activator grey-text text-darken-4">{{ producto.nombre }}<br><i
                                                    class="material-icons right">more_vert</i></span><br>

                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ producto.nota }}</span>
                                    <br>
                                    <br>
                                    <p>{{ producto.descripcion }}</p>
                                    <br>
                                    <div class="divider"></div>
                                    <br>
                                    <p> {{ producto.peso }} g </p>
                                    <p> ${{ producto.precio }}</p>
                                    <p> Existencias en tienda {{ producto.existencias }}</p>
                                    <i class="material-icons right">close</i>
                                </div>
                            </div>
                        </div>
                        {% if producto.id|divisibleby:"4" %}
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}