{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <center><h2 class="tipro">Tintes</h2>
                        <p class="tipro2">Moda 2018</p>
                    </center>
                </div>
            </div>
            <h5>
                <p>Si aún no sabes qué tinte va mejor con tu tono de piel, a continuación te dejamos una lista de tonos
                    que seguramente se te verán fantásticos si eres de tez morena. Estos tonos te favorecerán y harán
                    que tus facciones luzcan increíbles. Anímate a hacerte ese cambio de look que tanto deseas ¡sin
                    miedos!</p><br>
            </h5>
            <p class="tipro2">Para ella</p>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 class="colorcito">Champaña Oscuro</h1>
                        <p h1 class="colorcito2">Este tono es perfecto si tienes la piel morena pero un poco clara. Este
                            tono va entre rubio y café, así que si tienes el cabello un poco claro, simplemente agrega
                            color chocolate para obtener un tono medio. Puedes optar por tonos brillantes o cenizos, tú
                            decides.
                        </p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/t1.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/t2.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcito">Caramelo difuminado</h1>
                        <p h1 class="colorcito2">Este tono es ideal si quieres algo más claro. Te recomiendo que optes
                            por un difuminado y que dejes la raíz más oscura. no tanto como un californiano, sino algo
                            más disimulado para que luzca más natural.</p></center>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcito">Cenizo</h1>
                        <p h1 class="colorcito2">Los tonos cenizos también lucirán súper modernos en tu melena. Te
                            recomiendo ir más hacia los tonos claros ya que los grises pueden opacar un poco tu piel.
                        </p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/t3.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/t4.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcito">Dorado</h1>
                        <p h1 class="colorcito2">Si lo que quieres es hacer un cambio drástico y sexy, opta por tonos
                            dorados. Los tonos más claros son perfectos para pieles bronceadas, y también para mujeres
                            con ojos marrón u olivo. Busca que este tono sea natural, un poco más hacia los tonos
                            platinados que a los naranjas.
                        </p></center>
                </div>
            </div>
            <p class="tipro3">Para él</p>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcitoh">Rojo</h1>
                        <p h1 class="colorcito2">El rojo no es exclusivo de las mujeres, elígelo, y si es rojo intenso y
                            tu piel muy blanca se verá de lujo, y si eres de los que tienen barba poblada sumarás más
                            puntos.</p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/th1.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/th2.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcitoh">Plateado</h1>
                        <p h1 class="colorcito2">Si quieres hacer el cambio radical y lo que te interesa es aclarar
                            mucho tu cabello, prueba en tonos plateados, como ves, no es blanco ni rubio, ¡atrévete!
                        </p></center>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcitoh">Rosa</h1>
                        <p h1 class="colorcito2">Esta es una de las tendencias con más revuelo, pues sin duda el rosa es
                            un color que caracteriza a las mujeres, pero en el cabello de los hombres puede lucir mega
                            bien, checa que la idea es no pintar todo tu cabello, se ve súper.</p></center>
                </div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/th3.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <div class="col m12">
                            <img class='imgRedonda' src="{% static 'cuerpo/img/th4.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <br>
                    <center><h1 h1 class="colorcitoh">Azul</h1>
                        <p h1 class="colorcito2">El color azul será tendencia en cualquier temporada del año, es una
                            elección que no falla y tienes opción de teñir tu cabello azul claro u oscuro, y si lo
                            prefieres pueden ser sólo mechones para combinarlo con tu color natural.
                        </p></center>
                </div>
            </div>
        </div>
        <center><a class="waves-effect #e91e63 pink btn" href="{% url 'servicios' %}">Volver</a></center>
        <br>
        <br>
        <br>
        </div>
    </main>

{% endblock %}