{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <center class="tipro"><h3>
                        Estamos buscando mujeres emprendedoras...</h3><br>
                        <h3>¡Te encontramos!</h3><br>
                        <h3>-----Unete a nuestro equipo de trabajo---</h3></center>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <img src="{% static 'cuerpo/img/tra1.jpg' %}">
                            </li>
                            <li>
                                <img src="{% static 'cuerpo/img/tra2.png' %}"> <!-- random image -->
                            </li>
                            <li>
                                <img src="{% static 'cuerpo/img/tra3.jpg' %}"> <!-- random image -->
                            </li>
                            <li>
                                <img src="{% static 'cuerpo/img/tra4.jpg' %}"> <!-- random image -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <dir class="row">
                <div class="col m12">
                    <h5 class="flow-text">
                        Somos una empresa distribuidora de nuestra marca Style & Desing, estamos buscando tecnicos de la
                        belleza para distribuir y enseñar nuestra linea de productos a salones de belleza y colegios de
                        esteticismo.
                        <br>
                        <br>
                        Interesados deben de cumplir con los siguientes requisitos:
                        <br>
                        <br>
                        Minimo de tres años como tecnico de belleza, especificamente en el ramo de el cabello.
                        Bachillerato completado.
                        Excelente presentacion.
                        Transportacion propia o facilidad de transportacion.
                        Facilidad de palabra para hablar en publico.
                        Actitud positiva y energizante.
                        Muchas ganas de trabajar.
                        Posibilidad de viajar a E.U. y dentro del pais.
                        <br>
                        <br>

                        Ofrecemos sueldo base de 3000.00 mas comision, con potencial de hacer hasta mas de 20,000.00
                        <br>
                        <br>
                        Si crees que tienes todos lor requisitos y mas mandanos un correo con tu CV y fotografia
                        actualizada para ser considerado para esta posicion.<br>

                        Tipo de puesto: Tiempo completo, Comisión.<br>

                        Salario: $5,000.00 a $20,000.00 /mes
                        <br>
                        <br>
                        <ul>
                            <p>Experiencia:</p>
                            <lo type="circle">Tecnico de belleza: 3 años (Requisito mínimo).</lo>
                            <p>Educación:</p>
                            <lo type="square">Bachillerato/Preparatoria completada (Requisito mínimo)</lo>
                            <p>Ubicación del empleo:</p>
                            <lo type="disc">Ciudad de México, D. F. (Requisito mínimo)</lo>
                            <p>License or certification:</p>
                            <lo>Tecnico en Esteticismo (Requisito deseable)</lo>
                        </ul>
                    </h5>
                </div>
            </dir>
        </div>
    </main>

{% endblock %}